input {
  width: 59px;
  outline: none;
}

.spin-button {
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  outline: none;
  margin-top: 35px;
}

.spin-button:active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.whole-card {
  padding-top: 50px;
}